/*CSS*/
:root {
  /*Prevent overflow/vertical scroll bars*/
  box-sizing: border-box;
  /* Set smooth scrolling for same-page links */
  scroll-behavior: smooth;
}

/* Define used css variables: */
/* Prefers-color-scheme: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #c4eff3;
    --primary: #3692a1;
    --secondary: #ffffff;
    --accent: #f9c34e;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #0c373b;
    --primary: #5ebbc9;
    --secondary: #000000;
    --accent: #b17b06;
  }
}

*,
::before,
::after {
  padding: 0;
  /*reset default padding; [rem]*/
  margin: 0 auto;
  /*reset default margin [rem]*/
}

html {
  background-color: var(--background, gray /* Adding fallback */);
  color: var(--text, black);
  height: 100%;
  max-width: 100%;

  /* Force footer to end of page
  https://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content */
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  /* Define default font size [rem]*/
}

header {
  height: 65px;
  width: 100vw;
  background-color: var(--primary);
/*   display: flex;
 */  }

#header_logo {
  height: 34;
  width: 34px;
  margin-top: 16px;
  margin-left: 40px;
}

#profile_icon {
  height: 34px;
  width: 34px;
  margin-top: 16px;
  margin-right: 40px; /* #1 Todo @y-neck: fix margin-right */
}

main {
  flex: 1 0 auto;
  /* Force footer to end of page */
  padding-inline: 10%;
}

.footer {
  /* Force footer to end of page */
  flex-shrink: 0;
}

/* H2 Heading */
h2 {
  text-align: center;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
