/*CSS*/
:root {
  /*Prevent overflow/vertical scroll bars*/
  box-sizing: border-box;
  /* Set smooth scrolling for same-page links */
  scroll-behavior: smooth;
}

/* Define used css variables: */
/* Prefers-color-scheme: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #c4eff3;
    --primary: #3692a1;
    --secondary: #ffffff;
    --accent: #f9c34e;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #0c373b;
    --primary: #5ebbc9;
    --secondary: #000000;
    --accent: #b17b06;
  }
}

*,
::before,
::after {
  padding: 0;
  /*reset default padding; [rem]*/
  margin: 0 auto;
  /*reset default margin [rem]*/
}

html {
  background-color: var(--background, gray
      /* Adding fallback */
    );
  color: var(--text, black);
  height: 100%;
  max-width: 100%;

  /* Force footer to end of page
  https://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content */
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  /* Force footer to end of page */
  display: flex;
  flex-direction: column;
  /* Define default font size [rem]*/
}

main {
  flex: 1 0 auto;
  /* Force footer to end of page */
  padding-inline: 10%;
}

a {
  color: var(--accent, yellow);
}

/* Headings */
h1 {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}

h2 {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-inline: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */
header {
  flex-shrink: 0;
  height: 65px;
  width: 100vw;
  background-color: var(--primary);
}

#header_logo {
  height: 34px;
  width: 34px;
  margin-top: 16px;
  margin-left: 40px;
  float: left; /* Forces logo to appear on left */
}

#profile_icon {
  height: 34px;
  width: 34px;
  margin-top: 16px;
  margin-right: 40px;
  float: right; /* Forces icon to appear on right; reference #header_logo:float*/
}

/* Footer ------------------------------------------------------------------------------------------------------------- */
footer {
  margin-top: auto;
  /* Force footer to end of page */
  flex-shrink: 0;
  position: sticky;
  /* Force footer to end of page */
  width: 100vw;
  height: 65px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: var(--secondary);
  text-decoration: none;
}

/* Home --------------------------------------------------------------------------------------------------------------- */
#quest_box {
  margin-left: calc(100vw / 4);
  margin-right: calc(100vw / 4);
}

#daily_Quest_1 {
  margin: 50px 0px 25px 0px;
}

#daily_Quest_2 {
  margin: 0px 0px 50px 0px;
}

.quest_Images {
  display: grid;
  /* 3 columns with equal width */
  grid-template-columns: 1fr 1fr 1fr;
  /* 3 rows with automatic height */
  grid-template-rows: auto auto auto;
}

.quest_Images img {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  object-fit: cover;
}

#checkbox {
  justify-content: center;
  align-items: center;
}

#quest_checkbox {
  height: 20vw;
  width: 20vw;
  margin: 50px 0px 50px 0px;
}

#image_Upload {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

/* Register ------------------------------------------------------------------------------------------------------------- */

#register_input {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#register_input input {
  width: 232px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--secondary);
  margin-bottom: 15px;
  border: none;
  color: var(--text);
  text-align: center;
}

/* Profile page / edit profile page ----------------------------------------------------------------------------------- */

#profile_header {
  height: 65px;
  width: 100vw;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_headerIcon {
  color: var(--secondary);
  margin-inline: 40px;
  font-size: 1.25rem;
}

#editProfileIcon {
  margin-left: auto;
  padding: 0;
  justify-self: end;
}

#profile_picture {
  border-radius: 114px;
  background: var(--secondary);
  margin-top: 42px;
  margin-bottom: 5px;
  width: 114px;
  height: 114px;
}

#profile_picture img {
  width: 114px;
  height: 114px;
  flex-shrink: 0;
}

#profile_username {
  margin-top: 5px;
  margin-bottom: 10px;
}

#profile_questpoints {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 34px;
}

#profile_questpoints_number {
  color: var(--accent, yellow);
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#editProfile_inputs {
  display: flex;
  flex-direction: column;
}

#editUsername {
  margin-top: 40px;
  width: 232px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: var(--secondary);
  color: var(--text);
  text-align: center;
}

#editPassword {
  margin-top: 26px;
  width: 232px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: var(--secondary);
  color: var(--text);
  text-align: center;
}

#deleteProfile {
  width: 153px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: var(--accent);
  margin-top: 26px;
}

/* Login page */
.button-container {
  display: flex;
  flex-direction: column;
}

.login_button {
  width: 232px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--secondary);
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  color: var(--text);
}

.login_buttonS {
  width: 113px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--primary);
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  color: var(--secondary);
}

.mail_icon {
  width: 120px;
  height: 120px;
  margin-top: 35px;
}

.login_text {
  margin: 8px;
}

#login_input {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#login_top {
  margin-top: 150px;
}


/* Impressum Text */

#impressum_container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
  flex-direction: column;  /* This will arrange the children vertically */

}

#impressum_container p {
  text-align: left;      /* Center the text inside the <p> tag */
}

.text_title{
  text-align: left;
  margin-inline: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Responsive for desktop --------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1000px) {

  /* Headings */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  /* Header */
  header {
    flex-shrink: 0;
    height: 65px;
    width: 100vw;
  }

  #header_logo {
    margin-left: calc(100vw / 4);
  }

  #profile_icon {
    margin-right: calc(100vw / 4);
  }

  /* Home */
  #quest_box {
    margin-left: calc(100vw / 4);
    margin-right: calc(100vw / 4);
  }

  #daily_Quest_1 {
    margin: 100px 0px 50px 0px;
  }

  #daily_Quest_2 {
    margin: 0px 0px 100px 0px;
  }

  .quest_Images img {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
  }

  #quest_checkbox {
    height: 10vw;
    width: 10vw;
    margin: 100px 0px 100px 0px;
  }

  #image_Upload {
    margin: 100px 0px 100px 0px;
  }

}