<!DOCTYPE html>
<html lang="de" dir="ltr">
<!--Default language german, reading from l. to r.-->

<head>
    <meta charset="utf-8">
    <!--Default character set: https://www.w3schools.com/html/html_charset.asp-->
    <title>Profil</title>
    <!--Tab title-->
    <meta name="description" content="Bearbeite dein Profil">
    <!--Description of web page-->
    <meta name="keywords" content="onequest, profile">
    <!--define keywords for search engines-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Responsive web design:https://www.w3schools.com/css/css_rwd_viewport.asp-->

    <link rel="icon" href="../img/graphics/LogoOQ4.png">
    <!--Tab image-->

    <!--MAXcdn:-->
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--FontAwesome Free-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- supabase cdns-->
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@1.29.0/dist/umd/supabase.js"></script>

    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="../styles.css">

</head>

<body>
    <header id="profile_header">
        <button id="editProfile_confirmChanges" class="profile_headerIcon"><i class="fa-solid fa-check"></i></button>

    </header>

    <main>
        <div id="profile_picture"><img src="../img/graphics/profile.png" alt="Profilbild"></div>
        <!-- TODO: @y-neck Add functionality to retrieve or update profile picture -->
        <div id="editProfile_inputs">
            <!-- TODO: @y-neck Add functionality to retrieve or update Username/pw -->
            <input class="editProfile_input" type="text" id="editUsername" placeholder="Neuer Benutzername"
                autocomplete="off">
            <input class="editProfile_input" type="password" id="editPassword" placeholder="Neues Passwort"
                autocomplete="off">
            <button id="deleteProfile">Profil löschen</button>
        </div>

    </main>

<footer>
    <a href="../views/impressum.html" target="_blank">Impressum</a>
    <a href="../views/rules.html" target="_blank">Regeln & Rechtliches</a>
    <a href="../views/about.html" target="_blank">About</a>
    <a href="../views/datenschutz.html" target="_blank">Datenschutz</a>
</footer>

    <!-- Import supabase -->
    <script type='module' src=" ../00_setup/supabase.js"></script>
    <script type="module" src="../01_api/supabase_api.js"></script>
    <script src="../mainUser.js" type="module"></script>
    <script type="module" src="../03_scripts/editProfile.js"></script>
</body>

</html>