<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- CSS Style Sheet -->
     <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Login</h1>

<div class="button-container">

<div id="login_input">
    <button class="login_button">Username</button>
    <button class="login_button">Password</button>
</div>

<button class="login_buttonS">Login</button>
    <p>Noch kein Konto?</p>
</div>


</body>
</html>